.navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 0;
  height: 40px;
  background-color: RGBA(110, 91, 39, 0.14);
  box-shadow: -4px 16px 37px -14px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: -4px 16px 37px -14px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: -4px 16px 37px -14px rgba(0, 0, 0, 0.77);
}

.navigation li {
  padding: 10px;
  border: 1px solid black;
}

a {
  color: black;
}
